.information {
  display: flex;
}
.main_info{
  width: 45%;
  @media screen and (min-width: $tablet) {
      width: 40%;
    }
    @media screen and (min-width: $desctop) {
      width: 35%;
    }
}
.main_info_box{
  margin-right: -15px;
}
.main_info_title{
  display: inline-flex;
  position: relative;
  top:0;
  left: -16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $main-bg;
  background:$text-color;
  padding: 5px 20px 5px 15px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  @media screen and (min-width: $tablet) {
      font-size: 22px;
      line-height: 32px;
      padding: 10px 30px 10px 20px;
      left: -21px;
    }
  @media screen and (min-width: $desctop) {
    font-size: 26px;
    line-height: 36px;
    padding: 10px 35px 10px 25px;
    left: -27px;
  }
}
.main_info_text{
  padding: 10px 10px 10px 0;
  @media screen and (min-width: $tablet) {
    padding: 15px 15px 15px 0;
  }
}
.education_list{
  margin-left: 10px;
  padding: 5px 10px 5px 0;
}

.another_text{
  color: $text-second-color;
  font-weight: 700;
  padding-bottom: 8px;
  &:hover,
  &:focus,
  &active {
    transform: scale(1.05);
    transition-duration: 700ms;
  }
}
p{
  padding-bottom: 4px;
}
