.soft_skills_ul{
  list-style: none;
  padding: 0 10px;
}
.soft_skills{
  list-style: none;
  margin-bottom: 4px;
}
.soft_text{
  color:$main-bg;
  &:hover,
  &:focus,
  &active {
      color: $text-second-color;
      transform: scale(1.05);
      transition-duration: 700ms;
    }
}