.contact_info{
  width: 55%;
  background-color: $text-color;
  position: relative;
  right: -16px;
  top: 1px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 30px;
  color:$main-bg;
  @media screen and (min-width: $tablet) {
      width: 60%;
      padding-left: 15px;
      right: -21px;
    }
  @media screen and (min-width: $desctop) {
    width: 65%;
    padding-left: 20px;
    right: -26px;
  }
}
.contact_title{
  margin-left: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  padding-top: 10px;
  text-align: center;
  @media screen and (min-width: $tablet) {
      font-size: 22px;
      line-height: 32px;
    }
  @media screen and (min-width: $desctop) {
    font-size: 26px;
    line-height: 36px;
  }
}
.contact_list {
  margin-left: 23px;
  padding: 5px 10px 5px 0;
}
.projects_link{
  color: $text-second-color;
  font-weight: 700;
}
.projects_text{
  padding-top: 4px;
}